body {
	background: #F2EEE9;
	margin: 0;
	color: #5A644B;
	-webkit-font-smoothing: antialiased;
}

h2, p, li {
	font-size: 23px;
	line-height: 31px;
}

img {
	max-width: 100%;
}

.hpot {
  	display: none;
}

.top-photos-container {
	display: grid; 
	max-width: 1200px;
	margin: 0 auto;
	line-height: 0; /*stops padding around photos*/
	align-items: start;
	grid-gap: 10px;
}

.top-photos-container img {
	border-radius: 4px;
}

.bottom-text-container {
	padding: 0% 5% 5% 5%;
}

.photo-tl {
	grid-column: 1 / 6;
	grid-row: 1 / 3;
}

.photo-tr {
	grid-column: 6 / 9;
	grid-row: 1 / 2;
}

.photo-bm {
	grid-column: 6 / 8;
	grid-row: 2 / 3;
}

.photo-br {
	grid-column: 8 / 9;
	grid-row: 2 / 3;
}

.text-section {
	display: grid;
	grid-template-columns: 37% 62%;
	justify-self: start;
	max-width: 1000px;
	margin: 0 auto;
	border-top: 2px solid #D2D4CB;
	padding: 3% 0 2% 0;
	grid-column-end: 2%: 
}

.first-col, .second-col {
	align-self: start;
}

.first-col {
	grid-column-start: 1;
	padding-right: 1%;
}

.second-col {
	grid-column-start: 2;
}

.half-half-section {
	display: grid;
	grid-template-columns: 50% 50%;
	margin: 3% auto 2% auto;
	max-width: 1000px;
}

.half-first-col {
	text-align: left;
}

.half-second-col {
	text-align: right;
}

.logo {
	margin: 1.5% auto 0 auto;
	width: 98px;
}

.name {
	margin: 0 auto 1.5% auto;
}

.video {
	max-width: 600px;
}

iframe {
	width: 100%;
}

.price-box {
	border: 3px solid #565B4E;
	border-radius: 4px;
	display: inline-block;
	padding: 2% 3%;
	font-family: sohne-book, helvetica, arial, sans-serif;
	font-size: 23px;
	margin: 1.6% 0;
}

.price-box h3 {
	margin: 0;
	padding: 0;
}

.price-box h3 span {
	font-size: 45px; 
	font-weight: normal;
}

.green-border {
	border: 3px solid #565B4E;
	border-radius: 4px;
}

.email-capture {
	border: 2px solid #FF9494;
	border-radius: 4px;
	background: white;
	display: flex;
	padding-right: 2%;
}

.enter-email, .submit-button {
	font-family: sohne-book, helvetica, arial, sans-serif;
	font-size: 23px;
	line-height: 31px;
}

.enter-email {
	border: none;
	padding: 4% 0% 4.7% 4%;
	width: 60%;
	margin-right: 2%;
	color: #5A644B;
}

.enter-email::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #999;
  opacity: 1; /* Firefox */
}

.enter-email:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #999;
}

.enter-email::-ms-input-placeholder { /* Microsoft Edge */
  color: #999;
}

.enter-email:focus {
	outline: none;
}

.submit-button {
    background: #FF7676; 
    border: 0 none;
    cursor: pointer;
    border-radius: 40px;
    margin: auto; 
    color: #fff;
    padding: 1.5% 5% 2.3% 5%;
    transition: ease-in-out .2s;

}

.submit-button:hover {
	transition: ease-in-out .2s;
	background: #EC5757;

}

.submit-button:focus {
	outline: none;
	background: #EC5757;
	transition: ease-in-out .2s;
}


/* text styles */

@font-face {
  font-family: 'sohne-bold';
  src: url('../fonts/SohneWeb-Kraftig.woff2') format('woff2');
  unicode-range: U+0020-007F; /* The bare minimum for the English Language */
}

@font-face {
  font-family: 'sohne-book';
  src: url('../fonts/SohneWeb-Mager.woff2') format('woff2');
  unicode-range: U+0020-007F; /* The bare minimum for the English Language */
}


h1 {
	font-size: 18px;
	font-family: "sohne-bold", helvetica, arial, sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
	font-weight: normal;
}

h2 { 
	font-family: "sohne-bold", helvetica, arial, sans-serif;
	margin: 0 0 3% 0;
	padding: 0;
	font-weight: normal;
}

p, li, ol, ul {
	font-family: "sohne-book", helvetica, arial, sans-serif;
	margin: 0 0 2.3% 0;
	padding: 0;
	font-weight: normal;
}

ul > li {
	background: url('../images/orange-circle.svg') no-repeat left 11px;
	padding-left: 23px;
	margin-left: 0px;
	list-style-type: none;
}

ol > li {
	list-style-position: outside;
	padding-left: 12px;
	margin-left: 20px;
}

.condensed-list li {
	background: none;
	padding: 0px;
	margin: 0px;
}

a {
	color: #565B4E;
	text-decoration: underline;
}

a:hover {
	color: red;
}

.inline-image {
	margin: 1.2% 0 2% 0; 
}

/* responsive styles */
@media only screen and (max-width: 800px) {
	  body {
	}

	h2 {
		font-size: 22px;
	    line-height: 140%;
	}


	p, li, ol, ul, h1 {
		font-size: 18px;
	    line-height: 140%;
	    margin-bottom: 3%;
	}

	.enter-email, .submit-button {
		font-family: sohne-book, helvetica, arial, sans-serif;
		font-size: 18px;
	    line-height: 140%;
	}

	.text-section {
		display: block;
		padding: 3%;
		border: none;
		margin-bottom: 4%;
	}

	.logo {
		margin: 6% auto 0 auto;
		width: 75px;
	}

	.name {
		margin-bottom: 4%;
	}

	.price-box {
		font-size: 17px;
	}

	.price-box h3 span {
		font-size: 30px;
	}

	.top-photos-container {
		display: block;
	}

}


